<h1> Welcome to Octopus Sharding Example! </h1>
<p> This application will send all writes/reads of user model to master, and then the shard 
    will be selected based on current_user.country</p>

<p id="img_sharding"><%= image_tag('/images/sharding.png') %></p>

